@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*colocar mdn paraa encontrar definiciones*/

:root{
	--main-color: #FFFBE0;
	--colorclarorosa: #EBC6DA;
	--color-oscuro-mor: #5b1868;
	--color-oscuro-caf: #271f1c;
	}

body {
	font-family: "Atkinson Hyperlegible";
	background: #EBC6DA;
	text-align: center;
	margin: 0;
	padding: 0;
	font-weight: 400;
  	font-style: normal;
	}

div.container {
	width: min(800px, 90%);
	margin: 0 auto;
	padding: 2rem;
	background: #FFFBE0;
	text-align: left;
	}

h1{
	font-weight: lighter;
	font-size: calc(2rem + 3vw);
	margin: 0;
	}

table, th, td{ 
 	border-bottom: 2px solid black; 
 	border-collapse: collapse; 
 	}

table{ margin-bottom: 0.6rem; }
th, td{ padding:0.3rem; }

td:nth-child(1){ width:20%; text-align: center}
th:nth-child(1){ width:20%; text-align: center}


